<table class="table table-bordered table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Published</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
      <td><%= article.published %></td>
      <td><%= link_to 'Show', article %></td>
    </tr>
    <% end %>
  </tbody>
</table>
