<div class="row p-2 border">
  <%= link_to 'Home', admin_root_path, class:'btn btn-link' %>
  <% Category.top_level.each do |cat| %>
    <%= link_to cat.title, admin_category_path(cat), class:'btn btn-link' %>
    <% end unless Category.blank? %>
</div>
