<% content_for(:add_item_button) { link_to 'Add Post', new_admin_post_path, class: 'btn btn-primary' } %>

<div class='row py-3'>
  <h1>Editing Post</h1>
  <div class="col-12">
    <%= render 'form', post: @post %>
  </div>

  <div class="col-12">
    <div class="row">
      <%= link_to 'Show', @post %> |
      <%= link_to 'Back', admin_posts_path %>
    </div>
  </div>

</div>
