<% @categories.all.each do |cat| %>
  <div class='row'>
    <h1>
      <%= cat.title %>
    </h1>
  </div>
  <div class='row border rounded'>
    <% cat.subcategories.each do |subcat| %>
      <div class='col-12 border rounded'>
        <h2>
          <%= subcat.title %>
        </h2>
        <div class="row">
          <% subcat.posts.each do |post| %>
            <div class="col-12">
              <%= post.title %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
