<% content_for(:add_item_button) { link_to 'Add Category', new_admin_category_path, class: 'btn btn-outline-danger' } %>

<div class="row py-3">
  <div class="col-12">
    <h3><%= @category.title %></h3>
    <%= render 'form' %>
 </div>
</div>
