<% content_for(:add_item_button) { link_to 'Add Category', new_admin_category_path, class: 'btn btn-primary' } %>
<h2>Category Posts</h2>
<% @posts.each do |post| %>
  <%= post.title %>
<% end unless @posts.blank? %>

<h2>Sub Categories</h2>
<% @subcategories.each do |category| %>
  <%= category.title %>
<% end unless @subcategories.blank? %>
