$alizarin-crimson: #d72130;

@import 'bootstrap';

.navbar-header {
  background-color: $alizarin-crimson;

  & > a {
    color: #ffffff;
  }
}
.sign-form-wrapper {
  max-width: 390px;
}

.btn-primary {
  &:hover,
  &:active,
  &:visited {
    background-color: $alizarin-crimson !important;
    border-color: $alizarin-crimson;
  }
  background-color: $alizarin-crimson !important;
  border-color: $alizarin-crimson;
}
.btn-outline-primary {
  &:hover,
  &:active,
  &:visited {
    border-color: $alizarin-crimson;
    color: $alizarin-crimson;
  }
  border-color: $alizarin-crimson;
  color: $alizarin-crimson;
}
